body{
  background-color: #444;
  color: #fafffa;
}

div#fundo-header img {
  width: 100%;
  max-height: 17em;
  filter: opacity();
}
div#fundo-header h1 {
  position: absolute;
  float: left;
}

main {
  position: relative;
  min-width: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  top: -0.5rem;
  padding: 0;
}
#resume-of-me {
  border-left:1px #fafffa solid;
}
div#dash-cv div {
  margin: 5px;
  border-top-right-radius: 2em;
}
div.card {
  min-height: 100px;
  border-radius: 0;
  background-color: rgba(0,0,0, 0);
  border: 2px #555 solid;
}
.head-of-card {
  text-align: right;
  border-top-left-radius: 0;
  transition: 1s;
} 
.head-of-card:hover {
  text-align: right;  
  border-top-left-radius: 0%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  transition: 1s;
} 

.btn-of-card, .btn-of-card:hover{
  font-size: 20px;
  text-decoration:bold;
  color: #fafffa;
}

#cardOne {
  background: linear-gradient(rgba(56, 30, 150, 0.363),rgba(74, 141, 197, 0.8));
}
#cardTwo {
  background: linear-gradient(rgba(224, 224, 12, .4), rgba(224, 224, 12, .8));
}
#cardThree {
  background: linear-gradient(rgba(24, 160, 24, .4),rgba(24, 160, 24, .8));
}
#cardFour {
  background-color: rgba(40, 40, 204, .4);
  background: linear-gradient(rgba(40, 40, 204, .4),rgba(40, 40, 204, .8));
}
#cardFive {
  background-color: rgba(172, 13, 172, .4);
  background: linear-gradient(rgba(172, 13, 172, .4),rgba(172, 13, 172, .8));
}
#cardSix {
  background-color: rgba(211, 32, 32, .4);
  background: linear-gradient(rgba(211, 32, 32, .4),rgba(211, 32, 32, .8));
}